* {
    font-family: "Comic Neue", cursive !important;
}

.descricao {
    max-height: 60vh;
    overflow-y: auto;
}

li {
    margin: 0;
}

/* @media screen and (max-width: 576px) {
    .descricao {
        max-height: 70vh;
        overflow-y: auto;
    }
} */